html{
  height: 100vh;
}

body{
  background-image: url("kente.jpg");
  background-size: auto;
}

.welcome{
  background-color: rgba(245,245,245,0.9);
  text-align: center;
  padding: 5px 20px 5px 20px;
  width: 50%;
  margin-left: 450px;
  margin-top: 60px;
}

h1{
  color: rgb(218,165,32);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.fill_form{
  background-color: rgba(192,192,192,0.9);
  text-align: center;
  padding: 20px 10px 20px 10px;
  width: 50%;
  margin-left: 460px;
  margin-top: 40px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

input{
  padding: 10px;
  margin: 2px;
  width: 27%;
  font-size: larger;
}

#female{
  width: auto;
  margin: 2px;
}

#male{
  width: auto;
  margin: 2px;
}

#sub{
  font-size: larger;
  color: rgb(153,101,21);
  margin-top: 5px;
}

.answer{
  background-color: rgba(245,245,245,0.8);
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 60%;
  margin-left: 370px;
  margin-top: 40px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

#akan_name_day{
  font-size: xx-large;
  color: limegreen;
}