html{
  height: 100vh;
}

body{
  background-image: url("kente.jpg");
  background-size: auto;
}

.welcome{
  background-color: rgba(245,245,245,0.9);
  text-align: center;
  padding: 5px 20px 5px 20px;
  width: 50%;
  margin-left: 450px;
  margin-top: 100px;
}

h1{
  color: rgb(212,175,55);
}

p{
  font-size: larger;
}

.dates{
  background-color: rgba(192,192,192,0.9);
  text-align: center;
  padding: 20px 10px 20px 10px;
  width: 50%;
  margin-left: 450px;
  margin-top: 40px;
  font-size: x-large;
}

input{
  padding: 10px;
  margin: 2px;
}

